*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

#maindash{
   height: 60px;
   background-color:rgb(170, 219, 84);
   color: white;
   font-weight: bolder;
   font-size: 25px;
   display: flex;
   justify-content: center;
   padding-top: 5px;
   margin: 2px;
   
}
.container{
   background-color:beige;
   height:565px;
   border: 2px solid gray;
   color: white;
   font-weight: bolder;
   font-family: 'Times New Roman', Times, serif;
}

.col-sm-2{
   border: 1px solid grey;
   height: 492px;  
   background-color:rgb(170, 219, 84);
   margin-left: 2px;
   
  

   
   /* display: flex;
   align-content: center;
   justify-content: center; */
}


.col-sm-9{
   border: 1px solid grey;
   height: 388px;
   margin: 2px;
   /* margin-bottom: 500px; */
   background-color: rgb(33, 93, 33);
  }


 #lowdash{
    height: 350px;
   margin-bottom: 40px;
   display: flex;
   margin-top: 10px;
} 

#nutrition{
   background-color:whitesmoke;
   color:rgb(33, 93, 33);
   height:100px;
   margin-top: -10px;
   /* background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
   margin-top: -35px; */
   background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDbBFg4BxLWrF7nkB179VGdswQYQdl2K8cfw&usqp=CAU);
   
}

#recipeSearch{
   width: 150px;
   height:35px ;
   
}
   #recipeItems{
   width: 150px;
   height: 30px;
   border: 2px solid black;
   border-right: 0;
   margin-left: 10px;
}

#searchButton{
   height:30px;
   margin-bottom: 580px;
   width: 35px;
}

#searchButton:hover{
   background-color:rgb(33, 93, 33);
   color: white;
}
#toDo{
width: 120px;
border-radius: 10px;
}
#displayItem{
   display: flex;
   justify-content:flex-end;
   font-weight: bolder;
   font-size: 35px;
}
.to-dos{
   margin-top: 25px;
}

#inputField{
   border: 2px solid black;
   border-right: 0;
   width:130px;
}
#addToDo{
   width: 30px;
}
#addToDo:hover{
   background-color: rgb(33, 93, 33);
   color: white;
}

.paragraph-styling{
   cursor: pointer;
}

.display{
   flex: 20%;
  padding-top: 50px;
  font-weight: lighter;
  font-size: 14px;
 
}

#picture{
   height:150px;
   width: 215px;
   border: 1px solid white;
}
.row{
   display: flex;
}

/* .recipeTabs{
   display: flex;
} */